<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
      
<head>
    <title>자유게시판</title>
    <link rel="stylesheet" th:href="@{/css/board.css}">
</head>

<body>
    <div class="container" layout:fragment="content">
        <h2>자유게시판</h2>

        <!-- 검색 영역 -->
        <div class="board-search">
            <input type="text" placeholder="검색어를 입력하세요">
            <button class="btn-primary">검색</button>
        </div>

        <!-- 게시글 목록 -->
        <table class="board-table">
            <thead>
            <tr>
                <th>번호</th>
                <th style="width: 40%">제목</th>
                <th>글쓴이</th>
                <th>조회수</th>
                <th>작성일</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="b : ${boardLists}">
                <td th:text="${b.id}">번호</td>
                <td>
                    <a th:href="@{|/board/view/${b.id}|}" th:text="${b.title}">제목</a>
					<span class="comment-number"
                        th:if="${#lists.size(b.commentList) > 0}" 
                        th:text="'(' + ${#lists.size(b.commentList)} + ')'">
                    </span>
                </td>
                
                <!-- 
<p th:if="${#lists.isEmpty(comments)}">아직 댓글이 없습니다.</p>
<p th:if="${!#lists.isEmpty(comments)}" th:text="'총 ' + ${comments.size()} + '개의 답변이 있습니다.'"></p> 
                 -->
                <td th:text="${b.writer.username}">작성자</td>
                <td th:text="${b.hit}">0</td>
                <td th:text="${#temporals.format(b.regdate, 'yyyy-MM-dd hh:mm')}">작성일</td>
            </tr>
            </tbody>
        </table>

        <!-- 버튼 영역 -->
        <div class="board-actions">
            <a th:href="@{/board/write}" sec:authorize="isAuthenticated()" class="btn-primary">글쓰기</a>
        </div>

        <!-- 페이징 -->
        <div class="pagination">
        	<a href="#" class="page">처음으로</a>
        	<a href="#" class="page">이전</a>
            <a href="#" class="page">1</a>
            <a href="#" class="page active">2</a>
            <a href="#" class="page">3</a>
            <a href="#" class="page">다음</a>
            <a href="#" class="page">끝으로</a>
        </div>
    </div>
</body>
</html>
